.header{
  height: 80px;
  margin: 0px;
  line-height: 80px;
  border:1px solid #ddd;
  border-radius: 5px;
}
.userphoto{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 0 10px;
}
.user{
  min-width: 80px;
}
