.back{
  float: left;
  width: 12vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
.back:hover{
  color: dodgerblue;
}
.projecttitle{
  float: left;
  width: 55vw;
  height: 10vh;
  line-height: 10vh;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.toolbar{
  float: left;
  width: 30vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
}
.paragraphtree{
  position: absolute;
  top:10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: #fff;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  overflow: hidden;
}
.type-text{
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 0 2px 2px #ddd;
  margin: 5px;
  margin-left: 5000px;
  background-color: #eee;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}
.text-title{
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}
.type-selection{
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 0 2px 2px #ddd;
  margin: 5px;
  margin-left: 5000px;
  background-color: forestgreen;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.type-link{
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  margin-left: 5000px;
  border: 2px dotted #999;
  text-align: center;
  cursor: pointer;
  text-align: center;
}
.type-ending{
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 0 2px 2px #ddd;
  margin: 5px;
  margin-left: 5000px;
  background-color: #eee;
  color: #fc617f;
  border:1px solid #fc617f;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}
.tools{
  position: absolute;
  width: 100%;
  top: 0;
  left: 120px;
  display: none;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 2px 2px #ddd;
  border-radius: 5px;
}
.type-text:hover,.type-link:hover,.type-ending:hover,.type-selection:hover{
  box-shadow: 0 0 2px 2px #8ab0fa;
}
.type-text.current,.type-selection.current{
  background-color: #8ab0fa;
  color: #fff;
}
.type-ending.current{
  background-color: #fc617f;
  color: #fff;
}
.type-text:hover .tools,.type-link:hover .tools,.type-ending:hover .tools,.type-selection:hover .tools{
  display: block;
}
.selecttionnum{
  position: fixed;
  top: 50%;
  left: 30%;
  width: 200px;
  height: 120px;
  margin: -60px 0 0 -100px;
  z-index: 200;
  background-color: #fff;
  box-shadow: 0 0 3px 3px #ddd;
  text-align: center;
}
.selecttionnum.show{
  display: block;
}
.selecttionnum.hide{
  display: none;
}
.selecttionnum .btn-success{
  margin: 5px 0;
}
.treecontent{
    position: absolute;
    width: 10000px;
    height: 10000px;
    top: 0px;
    left: -4500px;
    cursor: -webkit-grab;
    transform-origin: top;
    z-index: 1;
}
.treecontent svg{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}