.line{
  border-bottom: 1px solid #ccc;
  margin: 10px;
}
.line h2{
  margin-top: 0;
}
.pagination{
  width: 100%;
  text-align: center;
}
.list{
  width: 100%;
  min-height: 390px;
}
.isnull{
  width: 100%;
  text-align: center;
}