.msglist{
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 10px;
  text-align: center;
}
.allreaded{
  position: absolute;
  right: 0;
  top: 5px;
}
.msg-row{
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 0 20px;
  cursor: pointer;
}
.msg-row:hover{
  color: #6f6dd8;
}
.msglist .msg-row:first-child{
  border-radius: 4px 4px 0 0;
}
.msglist .msg-row:last-child{
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid #e5e5e5;
}
.isread,.notread{
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 20px;
  border-radius: 4px;
}
.isread{
  background-color: #888;
}
.notread{
  background-color: #6f6dd8;
}
.msg-title{
  text-align: left;
}
.msg-time{
  text-align: right;
}
.detail{
  width: 100%;
}
.detailtitle{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  font-weight: bold;
}
.detailtime{
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #888;
}
.detailtext{
  width: 100%;
  white-space:pre-wrap;
  word-wrap : break-word ;
  overflow: hidden ;
  word-break: break-all;
  line-height: 24px;
}
/* .detailtext pre{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e5e5e5;
  background-color: #fcfcfc;
  line-height: 20px;
  border-radius: 4px;
} */
.detailtext hr{
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: #e5e5e5;
  border: none;
}
.detailtext p{
  text-indent: 2em;
  margin: 10px 0;
  line-height: 20px;
}
detailtext h1{
  margin: 10px 0 20px 0;
}
.detailtext h2{
  margin: 5px 0 10px 0;
}
.detailtext h3,.detailtext h4,.detailtext h5{
  margin: 5px 0;
}
.detailtext ul,.detailtext ol{
  padding: 10px 30px;
}
.detailtext li{
  padding-bottom: 10px;
}
.detailtext table{
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 5%;
}
.detailtext th,.detailtext td{
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
}
.detailtext .img{
  width: 100%;
  text-align: center;
}
.detailtext img{
  max-width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}