.projectinfo{
  position: relative;
  width: 100%;
  min-height: 650px;
  padding: 20px 20px 60px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 20px;
}
.projectinfo table{
  margin-left: 200px;
}
.savechange{
  position: absolute;
  width: 80px;
  bottom: 20px;
  left: calc(50% - 40px);
}