.login{
  display: flex;
  width: 100%;
  height: 100%;
  align-self:stretch;
  align-items: center;
  justify-content: center;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 1024px;
  min-height: 768px;
}
.loginbox{
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-top: -150px;
}
.login-logo{
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 26px;
  font-family: 'Magneto';
  color: #6f6dd8;
  text-align: center;
}
.login-logo b{
  font-size: 20px; 
  font-weight: normal;
}
.form{
  position: relative;
  width: 320px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 40px 30px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,.1);
  border-radius: 4px;
  background-color: rgba(255,255,255,.9);
}
.group{
  display: flex;
  width: 100%;
  height: 40px;
  margin: 10px 0;
}
.group input{
  border: none;
  background: none;
  width: 100%;
  height: 36px;
  margin: 2px 0;
  box-sizing: border-box;
  outline: none;
  border-bottom:1px solid #e5e5e5; 
}
.error{
  position: absolute;
  bottom: 10px;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
  color: #ff5d5e;
}
.login-btn{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #6f6dd8;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  margin-top: 40px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.login-btn:active{
  background-color: #7978c4;
}
.back-login{
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.back-login:hover{
  text-decoration: underline;
  color: #6f6dd8;
}