.msgnotice{
  position: relative;
  width: 100%;
  top: 20px;
  min-height: 650px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  text-align: center;
}
.btn-green-m.newnotice{
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 0;
}
.totalnotice{
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: 0;
  left: 0;
  margin: 10px 0;
  font-size: 16px;
}
.noticelist{
  width: 100%;
  background-color: #fff;
}
.noticelist-title{
  display: flex;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.notice-row{
  display: flex;
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin: 10px 0;
}
.notice-title{
  text-align: left;
  padding: 0 10px;
}
.notice-actionbtn{
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 20px;
  margin: 0 10px;
  color: #6f6dd8;
  background-color: #fff;
}
.notice-actionbtn:hover{
  color: #5856b8;
}
.notice-actionbtn:active{
  color: #6f6dd8;
}
.noticeeditor{
  position: relative;
  width: 100%;
  height: 700px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  top: 20px;
  margin-bottom: 20px;
}
.noticeedit{
  position: absolute;
  top: 80px;
  left: 5px;
  width: 34%;
  height: calc(100% - 90px);
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  resize: none;
  padding: 10px;
  color: #888;
  line-height: 18px;
  outline: none;
}
.noticepreview{
  position: absolute;
  top: 80px;
  right: 5px;
  width: 64%;
  height: calc(100% - 90px);
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px;
  overflow: auto;
}
/* .noticepreview pre{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e5e5e5;
  background-color: #fcfcfc;
  line-height: 20px;
  border-radius: 4px;
} */
.noticepreview hr{
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: #e5e5e5;
  border: none;
}
.noticepreview p{
  text-indent: 2em;
  margin: 10px 0;
  line-height: 20px;
}
.noticepreview h1{
  margin: 10px 0 20px 0;
}
.noticepreview h2{
  margin: 5px 0 10px 0;
}
.noticepreview h3,.noticepreview h4,.noticepreview h5{
  margin: 5px 0;
}
.noticepreview ul,.noticepreview ol{
  padding: 10px 30px;
}
.noticepreview li{
  padding-bottom: 10px;
}
.noticepreview table{
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 5%;
}
.noticepreview th,.noticepreview td{
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
}
.noticepreview .img{
  width: 100%;
  text-align: center;
}
.noticepreview img{
  max-width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
